body{
    font-family: 'Titillium Web';
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(163, 167, 170);
    color: rgb(128, 124, 124);
}
a{
    text-decoration: none;
    color: blueviolet;
}
.container{
    width: 700px;
    margin: auto;
    margin-top: 70px;
}
.card-header{
    padding: 0 10px;
    background-color: #fff;
    margin-bottom: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-ul{
    display: flex;
}
.menu-li{
    padding: 10px;
}
.my-foto{
    width: 100px;
    border-radius: 30px;
}
.card{
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}
.call-me{
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.call-me:hover{
    background-color: black;
}
h2{
    color: rgb(185, 245, 107);
}
.card-ul{
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
}
i{
    font-size: 50px;
    margin: 10px;
    color: silver;
}
i:hover{
    color:black;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.5);
}